{% extends 'base_front.html.twig' %}

{% block title %}Vérifiez vos e-mails{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Vérifiez votre boîte mail</h1>
  <p>Un lien de réinitialisation vient de vous être envoyé.</p>
</div>
{% endblock %}
