{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}
{% block page_title %}Créer un nouvel utilisateur{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path('app_utilisateur_index') }}">Utilisateurs</a></li>
  <li class="breadcrumb-item active">Créer</li>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      {% include 'utilisateur/_form.html.twig' with {
        'form_title': 'Informations de l\'utilisateur',
        'button_label': 'Créer l\'utilisateur',
        'cancel_path': path('app_utilisateur_index')
      } %}
    </div>
  </div>
{% endblock %}