<form method="post" action="{{ path('app_itineraire_delete', {'idItineraire': itineraire.idItineraire}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itineraire.idItineraire) }}">
    <button class="btn">Delete</button>
</form>
