{% extends 'back/base.html.twig' %}

{% block title %}Create an Itinerary{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Create an Itinerary</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Save</button>
    <a href="{{ path('itineraire_index') }}" class="btn btn-secondary mt-3">Cancel</a>
{{ form_end(form) }}
{% endblock %}
