{% extends 'base.html.twig' %}

{% block title %}Edit station{% endblock %}

{% block body %}
<h1 class="h3 mb-4 text-gray-800">Edit station</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning mt-3">Update</button>
    <a href="{{ path('station_index') }}" class="btn btn-secondary mt-3">Cancel</a>
{{ form_end(form) }}
{% endblock %}
